<%= render 'layouts/header' %>

<h1>Hello, Rails!</h1>


<div style="text-align: center">

  <p><%= link_to 'My Blog', controller: 'articles' %></p>

<%= image_tag("blogging.jpg", :alt => "blog",size: "250x150",class:"img-circle") %>
</div>

<%= render 'layouts/footer' %>